Repository SeattleDSA/signal-scanner-bot, pull requests merged in 2020-10, with the labels that each got.

#26 Add timezone support
  signal_scanner_bot/env.py
  signal_scanner_bot/filters.py
  signal_scanner_bot/messages.py
  signal_scanner_bot/twitter.py
Labels: enhancement

#34 Detect if sender is group, unify contact interface
  signal_scanner_bot/env.py
  signal_scanner_bot/filters.py
  signal_scanner_bot/messages.py
  signal_scanner_bot/signal.py
Labels: component:signal

#38 Re-add removed logging line, add state file to gitignore
  .gitignore
  signal_scanner_bot/messages.py
Labels: bug

#39 Ignore status messages that don't match auto scan
  signal_scanner_bot/env.py
  signal_scanner_bot/messages.py
Labels: bug, component:signal
